body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin-top: 3em;
  border-top: solid 1px gray;
  padding-top: 1em;
  color: gray;
}

nav {
  background-color: firebrick;
  padding: 1em;
  margin-bottom: 2em;
}

nav a {
  color: white;
  margin-right: 1em;
  font-weight: bold;
  text-decoration: none;
}
